html {
    background-color: black;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.logo-container {
    display: : flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.nav-container {
    
}



.logo-wordmark {
    width: 220;

}

.logo-brand {

}