.header-container {
    display: flex;
    align-items: center;
    border-style:solid;
    flex-wrap: wrap;
}
.logo-container {
    display: inline-block;
    border-style: solid;
}
.nav-container {
    display: inline-block;
}