.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo-container {
    display: inline block;
    width: 100vw;
}

.nav-container {
    display: inline block;
    width: 100%;
}